<launch>
    <node name="chessboard_detector" pkg="pattern_pose_estimation" type="checkerboard_detector_node" output="screen">

        <remap from="image" to="/narrow_stereo_camera/left/image_rect" />

        <param name="cols" value="6" />
        <param name="rows" value="4" />
        <param name="size" value="0.04" />
        <param name="show_detection" value="true" />
    </node>


</launch>
